<body>
  <div class="card">
    <img
      class="food-image"
      src="https://assets.epicurious.com/photos/62f16ed5fe4be95d5a460eed/4:3/w_5100,h_3825,c_limit/RoastChicken_RECIPE_080420_37993.jpg"
      alt="Chicken Biriyani"
    />
    <div class="content">
      <h2>Chicken Biriyani</h2>
      <div class="meta">
        <span class="duration">55 Minutes</span>
        <span class="type">Non-Veg</span>
        <a
          href="https://www.youtube.com/watch?v=95BCU1n268w&ab_channel=SpiceEats"
          class="link"
          target="_blank"
          >Watch Video</a
        >
      </div>
      <div class="procedure">
        <h3>Procedure</h3>
        <p>
          Marinate chicken with yogurt, ginger, garlic, and spices. Cook with
          ground masala and rice.
        </p>
      </div>
      <div class="ingredients">
        <h3>Ingredients</h3>
        <p>
          Chicken, basmati rice, yogurt, ginger, garlic, onions, ghee, cooking
          oil, spices
        </p>
      </div>
    </div>
  </div>
</body>
