
.recipe-overview{
    display: flex;
    max-width: 800px;
    gap: 2rem;
}
.recipe-overview img{
    border-radius: 10%;
    width: 500px;
    height: 400px;
}
.meta{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

body{
    display: flex;align-items: center;
    justify-content: center;
}