<body>
  <div class="recipe-overview">
    <img src="{{ item.image }}" alt="{{ item.name }}" />
    <div class="content">
      <h2>{{ item.name }}</h2>
      <div class="meta">
        <span class="duration">{{ item.duration }}</span>
        <span class="type">{{ item.type }}</span>
        <a [href]="item.link" target="_blank">Watch Video</a>
      </div>
      <div class="procedure">
        <h3>Procedure</h3>
        <p>{{ item.procedure }}</p>
      </div>
      <div class="ingredients">
        <h3>Ingredients</h3>
        <p>{{ item.ingrediants }}</p>
      </div>
    </div>
  </div>
</body>
